# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# VS Code settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Test output
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database files
*.sqlite3

# Secret files
*.env
secrets.json

# PyInstaller
*.spec

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Pytest
.pytest_cache/

# Pylint
pylint-report.txt
pylint-global.txt